.container {
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  gap: 1rem;

  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

    section {
      display: flex;
      flex-direction: column;
      background: var(--shape);
      padding: 1rem;
      border-radius: 0.5rem;

      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          border-radius: 50%;
          width: 300px;
          height: 300px;
        }

        div {
          padding: 0 1rem;
          display: flex;
          transform: translate(150%, -150%);
          justify-content: flex-end;

          p {
            font-weight: bold;
            background: var(--primary);
            padding: 0.5rem;
            border-radius: 0.5rem;
          }
        }
      }

      h1 {
        align-self: center;
        margin-top: -30px;
        margin-bottom: 30px;
      }

      .mastries {
        display: grid;
        gap: 0.5rem;

        .mastery {
          background: var(--background);
          padding: 0.5rem;
          border-radius: 0.5rem;
          filter: brightness(0.7);
          transition: all 0.2s ease-in-out;

          &:hover {
            filter: brightness(1);
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }

    aside {
      display: grid;
      gap: 1rem;

      > div {
        background: var(--shape);
        padding: 1rem;
        border-radius: 0.5rem;
        filter: brightness(0.8);
        transition: all 0.2s ease-in-out;

        &:hover {
          filter: brightness(1);
        }

        img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
