.tier {
  display: flex !important;
  flex-direction: row;
  background: #161617;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  img {
    width: 100px;
    height: 100px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 0.2rem;
    h5 {
      color: var(--subtitle);
      filter: brightness(0.7);
    }
    p {
      font-size: 0.8rem;
      color: var(--subtitle);
    }
  }
}
