* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #121214;
  --shape: #1c1c1d;
  --primary: #941912;
  --title: #ffffff;
  --subtitle: #9e9e9e;
  --subtext: rgb(88, 88, 88);
}

html {
  margin: 1rem 1rem;

  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: #c9d1d9;

  a {
    text-decoration: none;
    color: white;
  }
}

button {
  cursor: pointer;
}
