.container {
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  gap: 2rem;

  .content {
    display: flex;
    align-items: center;
    img {
      transform: translateX(-50px);
      @media (max-width: 768px) {
        display: none;
      }
      &.lucian {
        width: 50%;
        transform: translateX(-100px);
        margin-left: -10rem;
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      margin: 25% auto;
      transform: translateX(50px);
      z-index: 99;
      @media (max-width: 768px) {
        margin: 50% 0;
        margin-left: -2rem;
      }
      h2 {
        font-size: 3rem;
      }

      p {
        @media (max-width: 768px) {
          display: none;
        }
      }

      a {
        transition: color 0.2s ease-in-out;
        &:hover {
          color: var(--primary);
        }
      }

      form {
        display: flex;
        margin-top: 1rem;

        input {
          background: var(--shape);
          border: none;
          outline: none;
          padding: 0 1rem;
          width: 150%;
          @media (max-width: 768px) {
            width: 90%;
          }
          color: var(--text);
          border-radius: 0.5rem 0 0 0.5rem;
        }
        button {
          border: none;
          outline: none;
          background: var(--primary);
          border-radius: 0 0.5rem 0.5rem 0;
          transition: all 0.2s ease-in-out;

          svg {
            margin: 0.5rem;
            color: var(--title);
          }

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}
