.container {
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  gap: 1rem;

  .content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    @media (max-width: 978px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
    }
    gap: 1rem;

    img {
      border-radius: 5px;
      filter: brightness(0.7);
      width: 95px;
      height: 95px;
      @media (max-width: 768px) {
        width: 57px;
        height: 57px;
      }
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        -moz-transform: scale(1.04);
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
        filter: brightness(1);
      }
    }
  }
  > button {
    border: none;
    outline: none;
    padding: 1rem;
    background: var(--primary);
    border-radius: 5px;
    color: var(--text);
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
